.post-container{
   background-color: #FFF;
   position: relative;
   overflow: hidden;
   padding: 20px;
   display: block;
   box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
   margin: 20px 40px 10px 40px;
}
.button, input[type="submit"]{
   display: inline-block;
   padding: 8px 20px;
   background-color: #AAAAAA;
   text-decoration: none;
   text-transform: uppercase;
   border: none;
}

.button:hover, .button:focus, .button:active,
 input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active{
   background-color: #3399FF;
}

.post-container{
   background-color: #000;
   position: relative;
   overflow: hidden;
   padding: 20px;
   display: block;
   box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
   margin: 20px 40px 10px 40px;
}

    .content {

        color: rgba(255, 255, 255, 0.5);
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }


    .content {
        text-align: center;
    }

    .title {
      color: #fff;

        font-size: 84px;
    }

    .links > a {
        color: rgba(255, 255, 255, 0.5);
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    .links > a:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    .table{
      color: rgba(255, 255, 255, 0.75);
    }

    .m-b-md {

        margin-bottom: 30px;
    }
    .slogan{
      font-size: 21px;
      margin-bottom: 30px;
    }
